""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set commentary
set easymotion
set highlightedyank
set NERDTree

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set clipboard+=unnamedplus

""" Idea specific settings ------------------
set ideastatusicon=green

""" Mappings --------------------------------

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>mb <Action>(XDebugger.MuteBreakpoints)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>o <Action>(FileStructurePopup)

" comment line
map <leader>/ <Action>(CommentByLineComment)
nmap ]b <Action>(NextTab)
nmap [b <Action>(PreviousTab)
nmap <c-s> <Action>(SaveAll)
nmap <leader>w <Action>(SaveAll)
nmap <leader>r <Action>(IdeaVim.ReloadVimRc.reload)
nmap <leader>ff <Action>(FindInPath)
nmap <leader>tf <Action>(ActivateTerminalToolWindow)
nmap <leader>fi <Action>(Find)
nmap <leader>sf <Action>(SearchEverywhere)
" files tree
nmap <leader>o <Action>(ActivateProjectToolWindow)
noremap <leader>q  q

inoremap jk <Esc>
inoremap kj <Esc>
inoremap jj <Esc>

nmap <leader>gc <Action>(GotoClass)
nmap gi <Action>(GotoImplementation)
nmap gd <Action>(GotoTypeDeclaration)
nmap gD <Action>(GotoDeclaration)
nmap gsm <Action>(GotoSuperMethod)
nmap gt <Action>(GotoTest)
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
